<section class="contact">
    <div class="container">
        <div class="section_heading">
            <h1>Contact</h1>
            <h6>Let's work together</h6>
        </div>

        <div class="my_contact">
            <form action="">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" placeholder="Enter your name ..." required>
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" placeholder="Enter your email ..." required>
                <label for="service">Service: </label>
                <select name="service" id="service">
                    <option value="">Web Design</option>
                    <option value="">Web Development</option>
                    <option value="">Web Design/Development</option>
                </select>
                <label for="subject">Subject: </label>
                <textarea name="subject" id="subject" cols="10" rows="10"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>
