<section class="portfolio">
	<div class="container">
		<div class="section_heading">
			<h1>Portfolio</h1>
			<h6>View some of my recent work</h6>
		</div>

        <div class="my_portfolio">
            <div class="portfolio_item">
                <div class="portfolio_img has_margin_right">
                    <img src="../../../assets/img/port-item-7.jpg" alt="">
                </div>
                <div class="portfolio_description">
                    <H6>Web Development</H6>
                    <H1>Blog Website</H1>
                    <p>
                        Skilled in Java, Python, C++, Web Standards, and JS.
                        Skilled in Java, Python, C++, Web Standards, and JS.
                    </p>
                    <a href="#" class="cta">View Details</a>
                </div>
            </div>
            <div class="portfolio_item">
                <div class="portfolio_description has_margin_right">
                    <H6>Web Design</H6>
                    <H1>Product Layout</H1>
                    <p>
                        Skilled in Java, Python, C++, Web Standards, and JS.
                        Skilled in Java, Python, C++, Web Standards, and JS.
                    </p>
                    <a href="#" class="cta">View Details</a>
                </div>
                <div class="portfolio_img has_margin_right">
                    <img src="../../../assets/img/port-item-12.jpg" alt="">
                </div>
            </div>
            <div class="portfolio_item">
                <div class="portfolio_img has_margin_right">
                    <img src="../../../assets/img/port-item-13.jpg" alt="">
                </div>
                   <div class="portfolio_description">
                    <H6>Web Design</H6>
                    <H1>Product Sketch</H1>
                    <p>
                        Skilled in Java, Python, C++, Web Standards, and JS.
                        Skilled in Java, Python, C++, Web Standards, and JS.
                    </p>
                    <a href="#" class="cta">View Details</a>
                </div>
            </div>
        </div>
	</div>
</section>
