<section class="about" id="about">
	  <div class="container">
		    <div class="section_heading">
            <h1>About Me</h1>
        </div>

        <div class="about_container">
            <div class="profile_img">
                <img src="../../../assets/img/hicham.jpg" alt="" />
            </div>
            <div class="about_details">
                <div class="about_heading">
                    <h1>About</h1>
                    <h6>Myself</h6>
                </div>
                <p>
                    I am a full-stack web developer, I have more than 3 years of experience in developing websites.
                    I have been using more advanced programming concepts such as MVC,
                    the Object-Oriented Programming (OOP) architecture, PHP, JavaScript & CSS FrameWork,
                    and many other things …
                </p>
                <div class="social_media">
                    <ul class="nav_list">
                        <li>
                            <a href="#" class="icon_link">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon_link">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon_link">
                                <i class="fab fa-dribbble-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
