<nav class="navbar">
    <div class="navbar_container">
        <div class="logo">Hicham</div>
        <div class="top_nav">
            <ul class="nav_list">
                <li>
                    <a href="#" class="nav_link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav_link">About</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Services</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Project</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Portfolio</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Experience</a>
                </li>
                <li>
                    <a href="#" class="nav_link">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="mobile_menu menu_toggler">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
        </div>
    </div>

    <div class="mobile_dropdown" >
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Services</li>
            <li>Project</li>
            <li>Contact</li>
        </ul>
    </div>
</nav>
