<section class="experience">
    <div class="container">
        <div class="section_heading">
            <h1>Work Experience</h1>
            <h6>Past and current jobs</h6>
        </div>

        <div class="timeline">
            <ul>
                <li class="date" data-date="2021 - Present">
                    <h1>UMA de Technologies</h1>
                    <p>Project design and execution through institutional analysis.</p>
                    <p>Continue putting in place streamlined and efficient project management processes.</p>
                    <p>Helping to prepare and draw up specifications.</p>
                    <p>Implementation of performance tests, and functional tests.</p>
                    <p>project deployment and support</p>
                    <p>Support for corrective maintenance of features.</p>
                    <p>Analysis of prod incidents and resolution of bugs if necessary.</p>
                </li>
                <li class="date" data-date="2019 - 2021">
                    <h1>Delta Solution</h1>
                    <p>Identification of a calendar for the implementation of the tasks, possibly including stages.</p>
                    <p>Modeling and preoperative planning.</p>
                    <p>Data design, collection and analysis</p>
                    <p>Implementation, IT Development and Integration</p>
                    <p>reporting and monitoring.</p>
                    <p></p>
                </li>
            </ul>
        </div>
    </div>
</section>
